@import "tailwindcss";

.header{
    font-family: Poppins;
}
.main-navigation-bar ul li a{
    color: #707070;
    font-size: 1rem;
}
.header-btn{
    background-color: #B68C5A;
}
.banner-section{
    background-image: url(resources/images/banner.png);
    background-repeat: no-repeat;
    border-radius: 12px;
    
}
.banner-heading{
    font-family: EB Garamond;
}
